* {
  padding: 0;
  margin:0;

}

body {
  height: 100vh;
  background-color: aliceblue;
  padding: 16px 24px;
  box-sizing: border-box;
}

#root {
  height: 95%;
  box-sizing: border-box;
}

#buttons button {
  background-color: white;
  border: 1px solid #e0f2fe;
  padding: 8px 12px;
  border-radius: 8px;
}

a.active {
  border-bottom: 1px solid #22d3ee;
}